__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.venv/
venv/
.git/
.gitignore

train/
val/

prepared/*
!prepared/label_map.json

checkpoints/*
!checkpoints/plantdiseaseclassifier_efficientnet_b2_bundle.pt
